<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Subject</title>
  <style media="all" type="text/css">
    @media only screen and (max-width: 620px) {
      table[class=body] h1,
      table[class=body] h2,
      table[class=body] h3,
      table[class=body] h4 {
        font-weight: 600 !important;
      }
      table[class=body] h1 {
        font-size: 22px !important;
      }
      table[class=body] h2 {
        font-size: 18px !important;
      }
      table[class=body] h3 {
        font-size: 16px !important;
      }
      table[class=body] .content,
      table[class=body] .wrapper {
        padding: 10px !important;
      }
      table[class=body] .container {
        padding: 0 !important;
        width: 100% !important;
      }
      table[class=body] .btn table,
      table[class=body] .btn a {
        width: 100% !important;
      }
    }
  </style>
</head>

<body  style="margin: 0; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; height: 100% !important; line-height: 1.6em; -webkit-font-smoothing: antialiased; padding: 0; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; width: 100% !important; background-color: #121314;">

<table class="body" style="box-sizing: border-box; border-collapse: separate !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background-color: #121314;" width="100%" bgcolor="#f6f6f6">
  <tr>
    <td style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 14px; vertical-align: top;" valign="top"></td>
    <td class="container" style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 14px; vertical-align: top; display: block; Margin: 0 auto !important; max-width: 580px; padding: 10px; width: 580px;" width="580" valign="top">
      <div class="content" style="box-sizing: border-box; display: block; margin: 0 auto; max-width: 580px; padding: 10px;">
        <span class="preheader" style="color: transparent; display: none; height: 0; max-height: 0; max-width: 0; opacity: 0; overflow: hidden; mso-hide: all; visibility: hidden; width: 0;">This is preheader text. Some clients will show this text as a preview.</span>
        <div class="header" style="box-sizing: border-box; margin-bottom: 60px; margin-top: 120px; width: 100%; background-color: transparent;">
        </div>
        <table class="main" style="margin-bottom: 60px; box-sizing: border-box; border-collapse: separate !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background: #1c1c1f; border-radius: 3px; border: 1px solid #2d2d2d;" width="100%">
          <tr>
            <td class="wrapper" style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 14px; vertical-align: top; padding: 30px;" valign="top">
              <table style="box-sizing: border-box; border-collapse: separate !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;" width="100%">
                <tr>
                  <td style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 14px; vertical-align: top;" valign="top">
                    <h3 style="text-align:center; color: #FFFFFF !important; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-weight: 400; line-height: 1.4em; margin: 0; margin-bottom: 30px; font-size: 28px;">Welcome to deepwood!</h3>
                  </td>
                </tr>
              </table>
              <table style="box-sizing: border-box; border-collapse: separate !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;" width="100%">
                <tr>
                  <td style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 14px; vertical-align: top;" valign="top">
                    <table class="content" style="box-sizing: border-box; border-collapse: separate !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; display: block; margin: 0 auto; max-width: 580px; padding: 10px;" width="100%">
                      <tr>
                        <td style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 14px; vertical-align: top; color: #8d8d8d;" valign="top">Hi, <%= @user.name %></td>

                      </tr>
                      <tr>
                        <td style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 14px; vertical-align: top; color: #8d8d8d;" valign="top">click the activation link below</td>
                      </tr>
                      <tr>
                        <td style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 14px; vertical-align: top; color: #8d8d8d;" valign="top"><%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <table class="button" style="box-sizing: border-box; border-collapse: separate !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;" width="100%">
          <tr>
            <td class="wrapper" style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 14px; vertical-align: top; padding: 30px;" valign="top">
              <table style="box-sizing: border-box; border-collapse: separate !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;" width="100%">
                <tr>
                  <td class="button-wapper" style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 14px; vertical-align: top; text-align: center; padding-top: 10px; padding-bottom: 22px;" valign="top" align="center">
                    <a class="button-primary" href="https://rocky-badlands-76012.herokuapp.com/" style="box-sizing: border-box; color: #ffffff; text-decoration: none; background-color: #4e342e; padding: 10px 20px; border-radius: 2px; font-weight: bold; text-align: center;">VISIT DEEPWOOD</a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <div class="footer" style="box-sizing: border-box; clear: both; width: 100%; padding: 0 100px;">
          <table style="box-sizing: border-box; border-collapse: separate !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; color: #999999; font-size: 12px;" width="100%">
          </table>
        </div>
      </div>
    </td>
    <td style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 14px; vertical-align: top;" valign="top"></td>
  </tr>
</table>

</body>
</html>