<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
    <%= render @users %> <!-- Rails automatically looks for a partial called _user.html.erb -->
</ul>

<%= will_paginate %>