\<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to(root_path, id: "logo") do %>
      <span class="glyphicon glyphicon-th"/>
    <% end %>
    <%= link_to image_tag("deepwood.png", alt: "Deepwood", id:"deepwood"),
                root_url  %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
            <li>
              <%= link_to(users_path) do %>
                  <span class="glyphicon glyphicon-list icon"/>
              <% end %>
            </li>
            <li>
              <%= link_to(current_user) do %>
                  <span class="glyphicon glyphicon-user icon"/>
              <% end %>
            </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>